.search-holder{
    padding-top:3px;
    padding-left:15px;
    padding-right:10px;
    padding-bottom:3px;
    margin:5px auto;
    width:550px;
    border-radius:35px;
    border:2px solid #dcdcdc;
    display: flex;
    justify-content: center;
    align-content: center;
}
#search-text{
    width:95%;
    height:35px;
    border:none;
    font-size:16px;
    outline: none;
}
.search-holder:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.search-holder:focus-within{
box-shadow: 1px 1px 8px 1px #dcdcdc;
outline:none;
}
.search-button{
    justify-self: center;
    align-self: center;
    width:200px;
    margin-top:15px;
    height:30px;
    margin-left:5px;
    margin-right:5px;
}
.button-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}