body{
    width:100vw;
}
main{
    width:100vw;
    height:65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    width:100%;
    display:flex;
    justify-content:flex-end;
}
.a-link{
    padding:0 5px;
    margin-right: 10px;
}
.google-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}